/* Navbar.css */

.navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .navbar-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    padding: 1%;
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #4caf50;
    font-weight: bold;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      z-index: 999;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-buttons {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .bar.open:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .bar.open:nth-child(2) {
      opacity: 0;
    }
  
    .bar.open:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  