.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-post h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    color: #777;
    margin-bottom: 5px;

  }
  .button-div {
    margin-top: 2%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
  }
  .blog-post button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .blog-post button:hover {
    background-color: #0056b3;
  }

  #blogPage {
    width: 70%;
    padding-top: 5%;
    margin: 0 auto;
  }