/* NavbarStyles.css */
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    @media (max-width: 768px) {
      align-items: flex-start;
    }
  }
  .right {
    padding-right: 20px;
  }
  .navbar-button {
    font-size: 1.1rem;
    display: inline;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  